*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: #332E54;
}

body::-webkit-scrollbar {
    display: none;
}

header, header button {
    text-transform: uppercase;
    color: #332E54;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    background: #FFFFFF;
}

#header-img {
    margin-top: 2px;
    width: 10rem;
    height: 2.29rem;
}

#header-mobile {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    height: 62px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#header-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    height: 74px;
}

#navbar {
    flex-basis: 50%;
    justify-content: space-between;
}

#navbar ul {
    padding: 0;
    padding-left: 45px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar li {
    margin: 18px;
    list-style-type: none;
    font-size: 0.9rem;
    letter-spacing: 1.8px;
}

#login, #start-trial {
    padding: 1.2rem;
    width: 10rem;
    height: 4.2rem;
    border: 1px solid #332E54;
    border-radius: 5px;
    background: transparent;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

#login {
    border: none;
}

#start-trial:hover {
    color: white;
    background: #332E54;
    transition: all ease-in-out 0.2s;
}

.fa-angle-down {
    position: relative;
    top: -3px;
}

main {
    background: #CAC7EE;
    min-height: 100vh;
    width: 100%;
}

#main-content-wrapper {
    padding: 24px 24px 0;
}

h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 3.5rem;
    font-weight: lighter;
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 4.5rem;
    letter-spacing: 0.5px;
    color: #332E54;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
    color: #332E54;
    line-height: 3.3rem;
    margin: 15px 0 5px 0;
    padding: 0;
}

#stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    width: 32%;
    color: #332E54;
}

.stats:nth-of-type(2) {
    width: 45%;
}

.stats:nth-of-type(3) {
    width: 40%;
}

.big-letters {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1rem;
    margin: 30px 0 15px 0;
}

.small-letters {
    font-size: 1.3rem;
}

#free-offer-btn {
    margin: 10px 0 5px 0;
    width: 100%;
    padding: 25px 18px;
    border: none;
    border-radius: 5px;
    background: #332E54;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
}

.trial-text {
    font-size: 1.1rem;
    color: #534D6E;
    text-align: center;
}

#main-bg-img {
    width: 90vw;
    position: relative;
    top: 10px;
    right: 25px;
}

.results-text {
    position: relative;
    text-align: center;
    bottom: 5rem;
    font-size: 1.2rem;
    color: #534D6E;
}

footer {
    z-index: 0;
    min-height: 100vh;
    background: #332E54;
    position: relative;
    bottom: 3.5rem;
    margin: 0;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
}

#footer-nav {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

#footer-list-1, #footer-list-2 {
    margin: 0;
    padding: 0;
    color: white;
}

#footer-nav li {
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2.6rem;
    padding-top: 0.5rem;
}

#footer-list-1 li {
    margin-left: 0;
}

#footer-list-2 li {
    opacity: 65%;
}

#hr-1, #hr-2 {
    width: 100%;
    color: #FFFFFF;
    border: none;
    border-top: 1px solid white;
    opacity: 50%;
}

#badge-wrapper {
    display: flex;
}

#badge-2 {
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 2.1rem;
    left: 1.7rem;
}

#hr-1 {
    width: 70%;
    position: relative;
    left: 0;
    margin: 2rem 0 0 0;
}

#hr-2 {
    margin-top: 3rem;
}

#social-media p {
    margin: -3rem 0 3rem 0;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

#social-media ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 75%;
    justify-content: space-between;
}

.social-icons li {
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

#copyright p, #copyright a {
    color: white;
    font-size: 1.14rem;
    line-height: 3rem;
    opacity: 65%;
}


#copyright {
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) {

    body {
        min-height: 100vh;
        width: 100vw;
    }

    #main-content-wrapper {
        display: flex;
        padding: 48px 0 0 48px;
        min-height: 100vh;
        gap: 2rem;
    }

    #main-bg-img {
        display: none;
    }

    #right-wrapper {
        background-image: url(img/main-bg-img.webp);
        background-position: cover;
        background-repeat: no-repeat;
        flex-basis: 70%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-height: 100vh;

    }

    #free-offer-btn {
        width: 65%;
    }

    .trial-text {
        text-align: left;
    }

    .results-text {
        font-size: 1rem;
        text-align: center;
        bottom: 5rem;
        left: 8rem;
    }

    #hr-1, #hr-2 {
        display: none;
    }

    #footer-nav {
        justify-content: center;
        padding: 8rem 8rem 0 8rem;
    }

    #badge-2 {
        display: none;
    }

    #badge-2-2 {
        display: inline !important;
        height: 90px;
        width: 90px;
        margin-left: 6rem;
        margin-top: 3.5rem;
    }

    #social-media {
        margin: 0;
        padding: 0;
        margin-top: 6rem;
        width: 50%;
    }

    #social-media ul {
        width: 100%;
        justify-content: center;
    }

    #social-media li {
        margin: 2rem;
    }

    #social-media p {
        text-align: center;
    }

    footer {
        align-items: center;
    }

    #copyright {
        width: 100%;
        padding-left: 5rem;
    }

    #copyright br {
        display: none;
    }

    #copyright p, #copyright a {
        font-size: 1.4rem;
    }

    #copyright a {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 12px;
    }

    #main-content-wrapper {
        padding-top: 8rem;
        padding-left: 10rem;
        
    }

    #right-wrapper {
        padding: 10rem;
    }

    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .big-letters {
        font-size: 2.5rem;
    }
    
    .small-letters {
        font-size: 1.1rem;
    }
    
    #free-offer-btn {
        margin: 10px 0 5px 0;
        width: 53%;
        padding: 25px 18px;
        font-size: 1rem;
    }

    .trial-text {
        font-size: 1rem;
    }

    .results-text {
        bottom: 1.5rem;
        left: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
        position: sticky;
        top: 0;
    }

    .results-text {
        bottom: 0rem;
        left: 2rem;
    }
}