*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

header, header button {
    text-transform: uppercase;
    color: #332E54;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

#header-img {
    margin-top: 2px;
    width: 10rem;
    height: 2.29rem;
}

#header-mobile {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    height: 62px;
}

#header-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    height: 74px;
}

#navbar {
    flex-basis: 50%;
    justify-content: space-between;
}

#navbar ul {
    padding: 0;
    padding-left: 45px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar li {
    margin: 18px;
    list-style-type: none;
    font-size: 0.9rem;
    letter-spacing: 1.8px;
}

#login, #start-trial {
    padding: 1.2rem;
    width: 10rem;
    height: 4.2rem;
    border: 1px solid #332E54;
    border-radius: 5px;
    background: transparent;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

#login {
    border: none;
}

.fa-angle-down {
    position: relative;
    top: -3px;
}

main {
    background: #CAC7EE;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'Alegreya', serif;
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
    }
}